[Unit]
Description=Watchdog service for monitoring desired folders
Type=simple
ExecStart={{ virtualenv_folder }}/bin/python {{ project_folder }}/systemd_example.py
Restart=on-failure
[Install]
WantedBy=multi-user.target
